<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>-->
  <!--<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />-->


<!--

***********************************************************************************************************************************************************
   The default instance of the MemoryCache is used.
   Memory usage can be configured in standard config file.

   cacheMemoryLimitMegabytes:   The amount of maximum memory size to be used. Specified in megabytes.
                                The default is zero, which indicates that the MemoryCache instance manages its own memory
                                based on the amount of memory that is installed on the computer.
   physicalMemoryPercentage:    The percentage of physical memory that the cache can use. It is specified as an integer value from 1 to 100.
                                The default is zero, which indicates that the MemoryCache instance manages its own memory
                                based on the amount of memory that is installed on the computer.
   pollingInterval:             The time interval after which the cache implementation compares the current memory load with the
                                absolute and percentage-based memory limits that are set for the cache instance.
                                The default is two minutes.
***********************************************************************************************************************************************************
    <configuration>
        <system.runtime.caching>
            <memoryCache>
                <namedCaches>
                    <add name="default" cacheMemoryLimitMegabytes="0" physicalMemoryPercentage="0" pollingInterval="00:02:00" />          
        </namedCaches>
      </memoryCache>
    </system.runtime.caching>
  </configuration>
  
  -->


  <!--<system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="default" cacheMemoryLimitMegabytes="0" physicalMemoryPercentage="0" pollingInterval="00:02:00" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>-->

  <!--<unity>
    <assembly name="CacheProvicer" />
    <assembly name="CacheProvicer.Memory" />

    <container name="Main">

      <register type="ICacheProvider" mapTo="MemoryCacheProvider">
        <lifetime type="ContainerControlledLifetimeManager" />
        <constructor>
          <param name="logProvider" dependencyType="ILogProvider"/>
        </constructor>
        <method name="Initialize">
          <param name="name" value="ICacheProvider" />
          <param name="config">
            <value value="timeout=1;host=none;port=000;env=non;enable=true" typeConverter="NameValueCollectionTypeConverter" />
          </param>
        </method>
      </register>

      <register type="ILogProvider" mapTo="Log4NetProvider">
        <lifetime type="ContainerControlledLifetimeManager" />
        <method name="Initialize">
          <param name="name" value="ILogProvider" />
          <param name="config">
            <value value="application=Cache;logLevel=error;conversionPattern=[%utcdate{yyyy-MM-dd HH:mm:ss,fff}] %-5level application=%logger %message %exception %newline" typeConverter="NameValueCollectionTypeConverter" />
          </param>
        </method>
      </register>

    </container>

  </unity>-->


</configuration>